<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.bryanahusna.golek">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bryanahusna.golek.kuis.PembukaTebakGambarKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.kuis.PilihLevelTebakGambarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.kuis.TebakGambarKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.kuis.PenutupIsiKataKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.kuis.PembukaIsiKataKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.lainnya.TentangActivity"
            android:label="Tentang"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.cari.DaftarKataFavoritActivity"
            android:label="Favorit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bryanahusna.golek.kuis.IsiKataKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.kuis.PilihLevelIsiKataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.cari.DetailHasilPencarianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bryanahusna.golek.lainnya.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bryanahusna.golek.belajar.BelajarActivity"
            android:label="@string/title_belajar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.cari.CariActivity"
            android:label="@string/title_cari"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bryanahusna.golek.kuis.KuisActivity"
            android:label="@string/title_kuis"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.lainnya.LainnyaActivity"
            android:label="@string/title_lainnya"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.belajar.NgokoLuguActivity"
            android:label="@string/ngoko_lugu_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.belajar.NgokoAlusActivity"
            android:label="@string/ngoko_alus_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.belajar.KramaLuguActivity"
            android:label="@string/krama_lugu_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bryanahusna.golek.belajar.KramaAlusActivity"
            android:label="@string/krama_alus_title"
            android:screenOrientation="portrait" />
    </application>

</manifest>